.schedule__top {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.schedule__bot {
  display: flex;
  justify-content: center;
}

.schedule__time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #c1002a;
  margin-right: 0.5rem;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 1rem 0.5rem;
}